@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', monospace;
    font-feature-settings: 'liga' 0;
    font-size: 100%;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
@media (min-width: 20em) {
    body {
        font-size: 102.5%;
   }
}
@media (min-width: 30em) {
    body {
        font-size: 105%;
   }
}
@media (min-width: 54em) {
    body {
        font-size: 107.5%;
   }
}
@media (min-width: 64em) {
    body {
        font-size: 110%;
   }
}
@media (min-width: 76.5em) {
    body {
        font-size: 115%;
   }
}
@media (min-width: 114em) {
    body {
        font-size: 125%;
   }
}
h1, h2 {
    margin: 0;
    font-family: 'Space Mono', monospace;
}
@media (min-width: 54em) {
    h1 {
        font-size: 3em;
   }
}
@media (min-width: 76.5em) {
    h1 {
        font-size: 3.5em;
   }
}
p {
    margin: 0 0 0.75em;
}
a {
    color: #0a0a0a;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}
a:hover, a:active, a:focus {
    color: #3e9ad5;
}
figure {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/** * Text Selection */
::selection {
    color: #fff;
    background-color: #3e9ad5;
    text-shadow: none;
}
/** * Underline Slide from left and back */
/** * Button Slide * Need to still add hover state in parent element * box-shadow: inset 175px 0 0 0 $color-alpha;
* color: $color-white;
*/
/** * Flex Grid */
/** * Box Shadow */
/** * Letter Spacing */
.tabs, .previews__container span, .preview__more, .card__more, .footer__archive {
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/** * Black Color Overlay */
.previews > *:first-child:after, .card__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.2);
    transition: background-color 0.4s ease-in-out;
}
/** * Body */
body {
    background-color: #f8f9f9;
}
/** * Sections */
section {
    position: relative;
}
.section-padding {
    padding: 4em 0;
}
.section-padding--lg {
    padding: 6em 0;
}
.section-padding--sm {
    padding: 2em 0;
}
/** * Class Container (BEM) */
[class*='__container'] {
    position: relative;
    z-index: 1;
}
/** * Blog page */
@media (max-width: 54em) {
    .previews {
        display: flex;
        flex-direction: column;
   }
}
.previews > *:first-child {
    position: relative;
    height: 30em;
    background-color: #0a0a0a;
}
@media (min-width: 54em) {
    .previews > *:first-child {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 45%;
   }
}
.previews > *:last-child {
    min-height: 100vh;
}
@media (min-width: 54em) {
    .previews > *:last-child {
        margin-left: 45%;
   }
}
/** * Tabs * On the Blog page for posts and categories */
.tabs {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
@media (min-width: 54em) {
    .tabs {
        padding-left: 8em;
        padding-right: 8em;
   }
}
@media (min-width: 114em) {
    .tabs {
        padding-left: 10em;
        padding-right: 10em;
   }
}
.tabs__item {
    cursor: pointer;
}
.tabs__item:not(.active) {
    position: relative;
    color: #0a0a0a;
}
.tabs__item:not(.active):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #9f8f68;
    transition: width 0.4s ease-in-out;
}
.tabs__item:not(.active):hover:after {
    width: 100%;
}
.tabs__item.active {
    border-bottom: 3px solid rgba(71, 70, 70, 0.349);
}
.tab.active {
    will-change: opacity;
    animation: fade-in 1s both;
}
/** * Blog Post Preview * On the Blog page */
.previews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em;
    color: #fff;
}
.previews__container span {
    font-family: 'Inconsolata', monospace;
}
.preview {
    transition: background-color 0.2s ease-in-out;
}
.preview:nth-child(even) {
    background-color: #fff;
}
.preview:hover {
    background-color: #f5f3ef;
}
.preview:hover .preview__more {
    box-shadow: inset 175px 0 0 0 rgba(71, 70, 70, 0.349);
    color: #fff;
}
.preview__img {
    will-change: opacity;
    animation: fade-in 1s both;
}
.preview__link {
    display: block;
    padding: 2em 1em;
}
@media (min-width: 54em) {
    .preview__link {
        padding: 4em 8em;
   }
}
@media (min-width: 114em) {
    .preview__link {
        padding-left: 10em;
        padding-right: 10em;
   }
}
.preview__date {
    font-family: 'Space Mono', monospace;
    color: #0a0a0a;
}
.preview__header {
    color: #3e9ad5;
    margin-bottom: 0.5em;
}
.preview__excerpt {
    color: #0a0a0a;
    font-size: 20px;
    line-height: 22px;
}

/** * Animations */
@keyframes fade-in {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
.fade-in {
    will-change: opacity;
    animation: fade-in 2s both;
}
/** * Absolute Background Cover */
.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.linkicon
{
    width: 10%;
    
    padding-right: 10px;
    padding-top: 6px;
}
.hoblink
{
    color: black;
}
.hoblink:hover
{
    color: #3e9ad5;
}
/*Navbar Animation*/
.nav {
    width: 100%;
    height: 55px;
    position: fixed;
    line-height: 55px;
    text-align: center;
    z-index: 1000;
    font-family: "Quicksand", sans-serif;
    background-color: #2b2b2b;
  }
  
  .nav div.logo1 {
    float: left;
    width: 5%;
    height: auto;
    padding-left: 3rem;
  }
  
  .nav div.logo1 a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight:500;
  }
  
  .nav div.logo1 a:hover {
    
  }
  
  .nav div.main_list 
  {
    height: 55px;
    float: left;
    position: fixed;
    left: 25%;
  }
  
  .nav div.main_list ul {
    width: 100%;
    height: 55px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .nav div.main_list ul li {
    width: auto;
    height: 55px;
    padding: 0;
    padding-right: 3rem;
   
  }
  
  .nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 55px;
    font-size: 24px;
    font-weight: 500;
   
  }
  
  
  
  /* Home section */
  
  
  .navTrigger {
    display: none;
  }
  
  .nav {
   
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  
  /* Media qurey section */
  
  @media screen  and (max-width: 1040px) {
    .container {
        margin: 0;
    }
  }
  @media screen  and (max-width: 500px) {
    .nav div.logo1 {
        padding-left: 1.5rem;
    }
  }
  
  @media screen and (max-width:1040px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo1 {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        top: 70px;
        left: 0;
      
    }
    .nav div.show_list {
        height: auto;
        display: none;
        
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #2b2b2b;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 20px;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
  }
  
  .navTrigger {
    
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 10px;
    bottom: 0;
  }
  
  .navTrigger i {
    
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  
  .navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }
  
  @-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }
  
  .affix {
    padding: 0;
    background-color: #2b2b2b;}
  
  
  /*DROPDOWN*/
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 15%;
    
  }
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 15%;
    
  }
  
  .dropdown-content a {
    color: whitesmoke;
   /* padding: 12px 16px;*/
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 a {
    color: whitesmoke;
   /* padding: 12px 16px;*/
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #2e2e2e; font-size: 17px;}
  .dropdown-content1 a:hover {background-color: #2e2e2e; font-size: 17px;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropdown-content1 {display: block;}
  @media screen and (max-width:1040px)
  {
    .dropdown
    {
    margin-left:70% ;  
    }
    .dropdown-content1 
    {
      max-height: 200px;
      max-width: 160px;
      overflow: auto;
    }
  
  }
  @media screen and (max-width:500px)
  {
    .dropdown
    {
      margin-left: 0%;
    }
  }
  /* SOCIAL MEDIA*/
  .footer-social-icons {
    font-family: 'Lexend Tera', sans-serif;  
    width:auto;
    display:block;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    height: auto;
    position: absolute;
    
    width: 100%;
    z-index: 1000;
  
  
  }
  .social-icon {
    color: #fff;
    position: relative;
    z-index: 100;
  }
  ul.social-icons {
    /* margin-top: 5px; */
    position: relative;
    z-index: 100;
  }
  .social-icons li {
    vertical-align: top;
    display: inline;
   /* height: 00px;*/
  }
  .social-icons a {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 100;
  }
  .fa-facebook {  
    padding:4px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:transparent;
    border-radius: 350px;
    color:#3d5b99 ;
  }
  .fa-facebook:hover {
    color: white;
  }
  
  .fa-reddit {
    
    padding:4px 14.5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    border-radius: 350px;
    color:#FF5700 ;
  }
  .fa-reddit:hover {
    color:white ;
  }
  
  .fa-instagram {
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
    top: 5px;
    padding:3px 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    border-radius: 12px;
    background-image: linear-gradient(rgb(96, 13, 228),rgb(255, 0, 221), yellow);
  }
  .fa-instagram:hover {
     background-image: none;
     transition: .9s;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
  }
  
  ul {
    padding:0;
    list-style: none;
  }
  
  
  
  
  .fa-linkedin {
    padding:6px 17px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    border-radius: 350px;
    color: #0073a4
  }
  .fa-linkedin:hover {
   color:WHITE;;
  }
  .flin
  {
    display: flex;
    flex-direction: column;
    font-size: 13px; text-align: left;
    
  }

  .flin1
  {
    display: flex;
    flex-direction: column;
    font-size: 13px; text-align: left;
    
  }
  .flin1 a:hover
  {
    color: #3e9ad5;
  }
  .qwerty1
  {
    width: 40%;
  }
  
  @media screen and (max-width: 768px)
  {
    .qwerty1
    {
      width: 100%;
    }
  }
  .flout
  {
    display: flex;flex-direction: row;
  }
  @media screen and (max-width: 815px)
  {
    .flout
    {
      flex-direction: column;
    }
  }
  .flmid
  {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .brvis
  {
    display: none;
  }
  @media screen and (max-width: 400px)
  {
    .flmid
    {
      flex-direction: column;
    }
    .flin1
    {
      
      text-align: center;
    }
    
  }  
  /* scrollbar */
::-webkit-scrollbar {
    width: 6px;
   
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #2b2b2b ;
    border-radius: 50px; 
  }