/* color pallet
    #ffffff
    #2B2B2B
    #142850
    #32407b
    #3E9AD5
    #46b5d1
    #00909e
    #dae1e7
    #11b8aa
    
    
*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font: 15px/1.5 Quicksand, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header **/
header {
  background: #2B2B2B;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #fafafa 3px solid;
  /* text-align: center; */
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 30px 0 30px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #3E9AD5;
  font-weight: bold;
}

header a:hover {
  color: #3E9AD5;
  font-weight: bold;
  text-align: center;
}


/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  color: #ffffff;
  font-weight: bold;
}

.logo {
  width: 20%;
}

.button_1 {
  height: 38px;
  background: #3E9AD5;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #2B2B2B;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.not_dark {
  color: #2B2B2B;
}

.page-title {
  color: #2B2B2B;
}

/* -----classes----- */

.contents {
  text-align: left;
  margin-left: 5px;
}

.next_page {
  text-align: center;
}

.a-tag {
  text-decoration: none;
  color: #2B2B2B;
}

.a-tag:hover {
  color: #3e9ad5;
}


/* Showcase */
/* #showcase{
  min-height:100px;
  background:url('../images/Ccode2.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
} */

#showcase {
  background: url('../images/Ccode7.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  text-align: center;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* start */
#start {
  padding: 15px;
  color: #ffffff;
  background: #2B2B2B;
  border-top: #ffffff 3px solid;
}

#start h1 {
  float: left;
}

#start form {
  float: right;
  margin-top: 15px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  color: #2B2B2B;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* sections */
ul#sections li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#2B2B2B;
  text-align: center;
} */

/* Media Queries */
@media(max-width: 768px) {

  header #branding,
  header nav,
  header nav li,
  #start h1,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  .image{
    width: 400px;
    /* height: 500px; */
  }
  
  .image1{
    width: 400px;
    /* height: 500px; */
  }

  @media(max-width: 768px){
    .image{
      width: 300px;
    }
    .image1{
      width: 300px;
    }
    .logo {
      width: 20%;
      margin-top: 50px;
    }
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #start button {
    display: block;
    width: 100%;
  }

  #start form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}


/* ---Side bar--- */

.sidebar {
  position: fixed;
  left: -35%;
  width: 35%;
  height: 100%;
  background-color: #2B2B2B;
  transition: all .5s ease;
}

.sidebar h2 {
  font-size: 22px;
  color: #fcfcfc;
  text-align: center;
  line-height: 30px;
  background: #3E9AD5;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(253, 253, 253, 0.1);
  border-bottom: 1px solid rgb(31, 29, 29);
  transition: .4s;
  text-decoration: none;
}

/* ul li:hover a {
  padding-left: 40px;
} */

.sidebar ul li a {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #000000;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: #ffffff;
  padding: 6px 12px;
  /* margin-top: 200px; */
}

label #cancel {
  color: #ffffff;
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 30px;
  color: #3391c0;
  padding: 4px 9px;
  margin-top: 210px;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~section {
  margin-left: 35%;
}

section {
  padding: 10px;
  padding-left: 5%;
  text-size-adjust: cover;
  transition: all .5s;
}


/* SOCIAL MEDIA*/
.footer-social-icons {
  font-family: 'Lexend Tera', sans-serif;
  width: auto;
  display: block;
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  height: auto;
  position: absolute;

  width: 100%;
  z-index: 1000;
}

.social-icon {
  color: #fff;
  position: relative;
  z-index: 100;
}

ul.social-icons {
  /* margin-top: 5px; */
  position: relative;
  z-index: 100;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  /* height: 00px;*/
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 100;
}

.fa-facebook {
  padding: 10px 17px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
  border-radius: 350px;
  color: #3d5b99;
}

.fa-facebook:hover {
  color: white;
}

.fa-reddit {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
  border-radius: 350px;
  color: #FF5700;
}

.fa-reddit:hover {
  color: white;
}

.fa-instagram {
  position: relative;
  top: 7px;
  padding: 3px 5px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
  border-radius: 12px;
  background-image: linear-gradient(rgb(96, 13, 228), rgb(255, 0, 221), yellow);
}

.fa-instagram:hover {
  background-image: none;
  transition: .9s;
}

a {
  text-decoration: none;
  color: #fff;
}

p>a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

.fa-twitter {
  padding: 10px 6px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
  color: #00aced;
}

.fa-twitter:hover {
  color: white;
}


.fa-linkedin {
  padding: 10px 4px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
  border-radius: 350px;
  color: #0073a4
}

.fa-linkedin:hover {
  color: WHITE;
  ;
}

.aboutcard {
  display: flex;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  overflow: hidden;
  font-size: 18px;
  height: auto;
}

@media screen and (max-width:768px) {
  .aboutcard {
    flex-direction: column-reverse;
  }
}

.abtimg {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:768px) {
  .abtimg {
    width: 60%;
  }

}

hr {
  border: 0px;
  background-color: #3e9ad5;
  height: 5px;
  border-radius: 60px;
  text-align: center;
  width: 60%;
}

.abtcont {
  text-align: justify;
  margin-top: 5%;
}

@media screen and (max-width:768px) {
  .abtcont {
    margin-top: auto;
  }
}



